{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="home" style="background-image: url('../static/img/wall.jpg')">
<div class="login_slide">
<div class="wrapper">
  <div class="form-box reg" style="
    background-color: #ffd1ab; 
    margin-bottom: -10px;
    padding: 10px;
    height: 50px;
    width: 100px;
    font-size: 10px;
    
">
    <a href="{% url 'register' %}"><h2>Kayıt Ol</h2></a>
    
  </div>
  
  <div class="form-box login">
    <h2>Giriş Yap</h2>
    <form action="{% url 'login' %}" method="POST"> 
      {% csrf_token %}
  
      {% if error %}
      
      {{error}}
     
      {% endif %}
  
      <div class="input-box">
        
        <input type="text" name="username" placeholder="Kullanıcı Adı" required>
        <label for="username"></label>
      </div>
      <div class="input-box">
    
        <input type="password" name="password"  placeholder="Parola" required>
        <label for="password"></label>
      </div>
      <button type="submit" class="btn">Giriş Yap</button>
  
    </form>
  </div>
</div>
</div>

</div>
{% endblock content %}


