{% extends 'main.html' %}
{% load static %}


{% block style %}
<link href="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
" rel="stylesheet">
{% endblock style %}


{% block content %}
<div class="home">

   
    <div class="main_slide3">
        <div class="fav-head">
            <h3 >Malzemelerim</h3>
        </div>
        <div style="padding-bottom: 50px;">
        <a href="{% url 'logmal' %}"><button class="red_btn">Tümünü Listele</button></a>
        <a href="{% url 'malzeme_ekle' %}"><button class="red_btn">Yeni Malzeme Ekle</button></a>
        </div>

        <section class="splide" aria-label="Splide Basic HTML Example" >
            <div class="splide__track">
                <ul class="splide__list">
                  {% for kategori in malzemekategori %}
                    <li class="splide__slide"><a href="{% url 'malzemebycategory' kategori.id %}"><div >{{ kategori.name|title }}</div></a></li>
                    
                    {% endfor %} 
                </ul>
            </div>
        </section>
        <div class="fav-food">
          {% for malzeme in malzemeler %}
            <div class="item">
                <a href="{% url 'malSil' malzeme.malzeme.id %}">
                    <i class="fa-solid fa-circle-xmark fa-2x"></i>
                </a>
            
                <h2>{{ malzeme.malzeme.malzeme_adi }}</h2>
               
                <h3><h5>{{ malzeme.adet}}  <span>{{ malzeme.malzeme.tur.name }}</span></h5> <h6>{{ malzeme.updated_at|timesince}} önce düzenlendi</h6></h3>
                <a href="{% url 'malzeme_duzenle'  malzeme.malzeme.id  %}"><button class="red_btn">Düzenle</button></a>
                
            </div>
           {% endfor %}

        </div>
       
    </div>

</div>
{% endblock content %}


{% block script %}

<script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>
<script>
    var splide = new Splide('.splide', {
        updateOnMove: true,
        type: 'loop',
        perPage: 7,
        perMove: 1,
        focus: 'center',
        arrows: false,
        pagination: false,
    });

    splide.mount();

</script>

{% endblock script %}