{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="home" style="background-image: url('../static/img/wall.jpg')">
<div class="login_slide">
<div class="wrapper">
  
  <div class="form-box login">
    <h2>Malzeme Ekle</h2>
    <form action="{% url 'malzeme_ekle' %}" method="POST"> 
      {% csrf_token %}
  
      {% if error %}
      
      {{error}}
     
      {% endif %}
  
      <div class="input-box">
        
      
        <select name="malzeme_id" required>
          {% for malzeme in malzemeler %}
            <option value="{{ malzeme.id }}" selected>{{ malzeme.malzeme_adi }}</option>
          {% endfor %}
        </select>
        
      </div>
      <div class="input-box">
    
        <input type="number" name="adet"  placeholder="Adet" required>
        <label for="malzeme_adi"></label>
      </div>
      <button type="submit" class="btn">Ekle</button>
  
    </form>
  </div>
</div>
</div>

</div>
{% endblock content %}


