{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KitchenApp</title>
   

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="https:/unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="https:/fonts.googleapis.com">
  <link rel="preconnect" href="https:/fonts.gstatic.com" crossorigin>
  <link href="https:/fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
</head>
<body>  

{% include 'partials/_navbar.html' %}


{% include 'partials/_kategori.html' %}


{% include 'partials/_movie.html' %}


<script src="{% static 'js/horizontal.js' %}"></script>
  


</body>
</html>