{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="home">

	<div class="main_slide4">
		<div class="chef-feed">
			<h2>{{movie.film_adi}}</h2>
			<div style="display: flex; justify-content:space-between; margin-right: 300px; margin-bottom: 15px;">
			<h4><span style="color: rgb(255, 0, 0)";>{{ movie.kisilik }}</span> kişilik</h4>
            <h4><span style="color: rgb(255, 0, 0)";>{{ movie.vakit }}</span>dk</h4>
            <h4><span style="color: rgb(255, 0, 0)";>{{ movie.kalori }}</span>kcal</h4>
			</div>
			<h4><span style="color:red">Yapılışı</span></h4>
			<p>{{ movie.tarif }}</p>

			<h4><span style="color:red">Malzemeler</span></h4>

			{% for malzeme in malzemeler %}
			<ul>
				<li>
					<span>
						{{malzeme.kullanilan_adet}}
						{{malzeme.malzeme.tur.name}}
						{{ malzeme.malzeme.malzeme_adi }}
					</span>
				</li>
			</ul>

			{% endfor %}

		</div>
		<div class="chef">
			<img src="{% static 'img/'|add:movie.resim %}" alt="">

		</div>

	</div>
	
	<div style="padding-bottom: 10px;">
	<a href="{% url 'benYaptim' movie.id %}"><button class="red_btn">Ben de Yaptım</button></a>
    </div>
	

	
</div>

{% endblock %}