{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KitchenApp</title>
   
    
    <link rel="stylesheet" href="{% static 'css/register.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="https:/unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="https:/fonts.googleapis.com">
  <link rel="preconnect" href="https:/fonts.gstatic.com" crossorigin>
  <link href="https:/fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
</head>
<body>  

    <form action="" method="POST">

      {% csrf_token %}

      {% if error %}
      
      {{error}}
     
      {% endif %}

		<label for="username">Kullanıcı Adı:</label>
		<input type="text" id="username" name="username" value="{{ username }}">

    <label for="firstname">Ad:</label>
		<input type="text" id="firstname" name="firstname" value="{{ firstname }}">

    <label for="lastname">Soyad:</label>
		<input type="text" id="lastname" name="lastname" value="{{ lastname }}">

		<label for="email">E-posta Adresi:</label>
		<input type="email" id="email" name="email" value="{{ email }}">

		<label for="password">Parola:</label>
		<input type="password" id="password" name="password" required>

		<label for="password_confirm">Parola Doğrulama:</label>
		<input type="password" id="password_confirm" name="password_confirm" required>

		<input type="submit" value="Kayıt Ol">
	</form>

 
</body>
</html>