{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KitchenApp</title>

    <link rel="stylesheet" href="{% static 'css/horizontal.css' %}">
  

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="https:/unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="https:/fonts.googleapis.com">
  <link rel="preconnect" href="https:/fonts.gstatic.com" crossorigin>
  <link href="https:/fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="horizontal-scroll">
            <button class="btn-scroll" id="btn-scroll-left" onclick="scrollHorizonatally(1)"><i class="ri-arrow-drop-left-line"></i></button>
            <button class="btn-scroll" id="btn-scroll-right" onclick="scrollHorizonatally(-1)"><i class="ri-arrow-drop-right-line"></i></i></button>
           
            <div class="menu-container"> 
    
                
                {% for kategori in kategoriler %}
                {% if category.id == selected_category %}
                <div class="menu-circle">
                    <a class="active" href="{% url 'moviesbycategory' kategori.id %}">{{kategori.name|title}}</a> 
                </div>
                {% endif %}
                {% endfor %} 
    
            </div>
           
        </div>
    </div>

    
<!-- js -->
<script src="{% static 'js/script.js' %}"></script>
  
</body>
</html>