{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KitchenApp</title>
   
    
    <link rel="stylesheet" href="{% static 'css/malzeme.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="https:/unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="https:/fonts.googleapis.com">
  <link rel="preconnect" href="https:/fonts.gstatic.com" crossorigin>
  <link href="https:/fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
</head>
<body>  

        <div class="content">
            <a href="{% url 'malzeme_ekle' %}"><button>Yeni Malzeme Ekle</button></a>

            <div class="header">
                <p>Malzemeler</p>
            </div>
            <div id="root">
                {% for malzeme in malzemeler %}
                
                <div class="box">
                    <h3>{{ malzeme.malzeme.malzeme_adi }}</h3>
                    <h3>{{ malzeme.adet}}</h3>

                   
                   
                   
                </div>
                
                {% endfor %}
            </div>
        </div>
  

    
    
 
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>