{% load static %}
  <header>
        <div class="header">
            <div class="headerbar" style="z-index: 2;">
                <div class="account">
                    <ul>
                        <a href="#">
                            <li>
                                <i class="fa-solid fa-house-chimney"></i>
                            </li>
                        </a>
                       
                        
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}">
                                <i class="fa-solid fa-sign-out-alt" id="logout-icon"></i>
                            </a>
                        </li>
                        <li>
                             <a href="{% url 'logmal' %}">
                                <i class="fa-solid fa-user" id="user-lap"><span class="username">{{ user.username }}</span></i>
                            </a>
                        </li>
                    {% else %}
                        <a href="{% url 'login' %}">
                            <li>
                                <i class="fa-solid fa-user" id="user-lap"></i>
                            </li>
                        </a>
                    {% endif %}
                    </ul>
                </div>
                <div class="nav">
                    <ul>
                        <a href="{% url 'home2' %}">
                            <li>Anasayfa</li>
                        </a>
                        <a href="#">
                            <li>Hakkımızda</li>
                        </a> 
                        <a href="{% url 'yemektarifleri' %}">
                            <li>Yemek Tarifleri</li>
                        </a>
                        <a href="#">
                            <li>İletişim</li>
                        </a>
                       
                    </ul>
                </div>
            </div>
            <div class="logo">
                <img src="{% static 'img/mo.png' %}" alt="">
            </div>
            <div class="bar">
                <i class="fa-solid fa-bars"></i>
                <i class="fa-solid fa-xmark" id="hdcross" style="z-index: 2;"></i>
            </div>
            <div class="nav">
                <ul>
                    <a href="{% url 'home2' %}">
                        <li>Anasayfa</li>
                    </a>
                    <a href="#">
                        <li>Hakkımızda</li>
                    </a> 
                    <a href="{% url 'yemektarifleri' %}">
                        <li>Yemek Tarifleri</li>
                    </a>
                    <a href="#">
                        <li>İletişim</li>
                    </a>
                   
                </ul>
            </div>
            <div class="account">
                <ul>
                    <a href="{% url 'home2' %}">
                        <li>
                            <i class="fa-solid fa-house-chimney"></i>
                        </li>
                    </a>
                
                  
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}">
                                <i class="fa-solid fa-sign-out-alt" id="logout-icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logmal' %}">
                                <i class="fa-solid fa-user" id="user-lap"><span class="username">{{ user.username }}</span></i>
                            </a>
                        </li>
                    {% else %}
                        <a href="{% url 'login' %}">
                            <li>
                                <i class="fa-solid fa-user" id="user-lap"></i>
                            </li>
                        </a>
                    {% endif %}
                </ul>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const bar = document.querySelector('.fa-bars');
                const cross = document.querySelector('#hdcross');
                const headerbar = document.querySelector('.headerbar');
    
                bar.addEventListener('click', function() {
                    setTimeout(function() {
                        cross.style.display = 'block';
                    }, 200);
                    headerbar.style.right = '0%';
                });
    
                cross.addEventListener('click', function() {
                    cross.style.display = 'none';
                    headerbar.style.right = '-100%';
                });
            });
        </script>
    </header>